body {
    color: purple;
    border: solid black 10px;
    padding: 5px;
    margin: 10px;
    text-align: justify;

}


.game {
    background-color: #c7c4c4;
    margin: solid white;
    padding: 5px;

}

.psych {
    overflow: hidden;
    width: 600px;
    height: 500px;
}
